body {
    margin: 0;
    padding: 0;
    font-family: 'norsebold';
    background-color: #fff;
  }

  @font-face {
    font-family: 'vikingregular';
    src: url('../fonts/viking-font/viking-webfont.woff') format('woff');
  }

  @font-face {
    font-family: 'norsebold';
    src: url('../fonts/norsebold-font/norsebold-webfont.woff') format('woff');
  }



  header>ul {
    height: min-content;
  }


  .no-deco {
    text-decoration: none;
    color: black;
  }

  .no-overflow {
    position: relative;
    overflow: hidden;    
   
  }

  iframe {
    max-width: 560px !important;
  }

  .grow:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
  }

  .recipe-size {
    max-width: 474px;
  }